<configuration>
  <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
    	<providers>
		    <pattern>		    
      		  <omitEmptyFields>true</omitEmptyFields>
		      <pattern>
		        {
		          "logTime": "%date{ISO8601}",
		          "logger": "%logger",
		          "level": "%level",
		          "thread": "%thread",
		          "traceId": "%mdc{traceId}",
		          "spanId": "%mdc{spanId}",
		          "message": "#tryJson{%message}"
		        }%n
		      </pattern>
		    </pattern>
		  </providers>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="jsonConsoleAppender"/>
  </root>
</configuration>
